/*  Global  Values  */
﻿*{margin:0px;}
body{font-family: 'Droid Sans'}
a {cursor:pointer;}
img{border:none;}
img{behavior:url("pngbehavior.htc");}
img, div, input{behavior:url("iepngfix.htc")}

/*  Structure  */
#center_page
{
    width:669px;
    height:669px;
    margin:0px auto;
}

#expanding_wrapper
{
    margin:2px auto;
    border:2px solid #EC1C24;
}

#container{position:relative;height:632px;background-repeat:no-repeat;}
.float_right{float:right;}
.float_left{float:left;}
.cleaner{clear: both; font-size: 1px;}

/*  Common Properties  */
.clear{clear:both;}

.pointer{cursor:pointer;}

/*  Album Art   */
#album_art_container
{
    /*height:500px;*/
    margin:0 auto;
}

#view_tabs_container
{
    margin:10px;
    margin-bottom:40px;
    text-align:center;
}

#view_tabs_container a
{
    margin:20px;
}

/*  Search  */
#search_container
{
    background-color:#05509D;
    height:60px;
    
    text-align:center;
}

.search_results_divider
{
    width:10px;
    height:100%;
    background-color:black;
}

#search_results, #playlist, #library, #podcasts
{
    position:relative;
    overflow: hidden;
}

#playlist, #library, #podcasts
{
    display:none;
}

#search_box
{
    margin:0px auto;
    width:300px;
    border:0px;
    padding:2px;
    margin-top:18px;
}

.col
{
    padding-bottom: 20010px;
    margin-bottom: -20000px;
    padding-left:10px;
}

#column_titles
{
    margin-bottom:10px;
}

.title_col, .artist_col, .album_col, .length_col, .genre_col
{
    
}

.title_entry_top, .artist_entry_top, .album_entry_top, .length_entry_top
{
   margin-bottom:10px;
}

.title_col, .artist_col, .album_col
{
    width:25%;
    border-right:1px solid black;
}

.title_entry_top
{
    
}

.artist_col
{
    width:25%;
}

.artist_entry_top
{
    
}

.album_col
{
    width:25%;
}

.album_entry_top
{
    
}

.length_col
{
    width:15%;
}

.length_entry_top
{
    
}

.genre_col
{
    width:25%;
}

.genre_entry_top
{
    margin-bottom:10px;
}

/*  Typography  */
.center{text-align:center;}
.right{text-align:right;}
.bold{font-weight:bold;}
.underline{text-decoration:underline;}
h1{font-size:17pt;}
h2{font-size:16pt;}

h3
{
    font-size:100%;
    line-height:1.7;
    font-weight:bold;
    font-size:12pt;
}
a:link, a:visited, a:hover, a:active{text-decoration:none;color:black;}

/*  Jplayer Controls    */
.jp-controls li
{
    display:inline;
}

.jp-mute, .jp-unmute
{
    padding-right:20px;
   
}

    /*Slider*/
    
    
    
    #vol_slider_container
    {
        width:200px;
        position:relative;
    }

    .ui-slider-horizontal
    {
        background-color:#EC1C24;
        height:15px;
        
    }

    .ui-slider-handle
    {
        
        background-color:white;
        position:absolute;
        height:15px;
        width:20px;
    }
    
    .vol_background
    {
        background-color:white;
        /*this value should be the same as the starting volume value*/
        width:50%;
        height:15px;
        position:absolute;
        display:none;
    }
    
    



div.jp-progress 
{
    /*position: absolute;*/
    overflow:hidden;
    background-color: #ddd;
    width:200px;
    height:15px;
    margin:0px auto;
}

div.jp-seek-bar 
{
    background: url("jplayer.blue.monday.jpg") 0 -202px repeat-x;
    width:0px;
    /* height:15px; */
    height:100%;
    cursor: pointer;
}

div.jp-play-bar 
{
    background: url("jplayer.blue.monday.jpg") 0 -218px repeat-x ;
    width:0px;
    /* height:15px; */
    height:100%;
}

div.jp-volume-bar 
{
    overflow:hidden;
    /*background: url("jplayer.blue.monday.jpg") 0 -250px repeat-x;*/
    background-color:grey;
    width:100px;
    height:1em;
    cursor: pointer;
}

div.jp-volume-bar-value 
{
    /*background: url("jplayer.blue.monday.jpg") 0 -256px repeat-x;*/
    background-color:red;
    width:0px;
    height:1em;
}


div.jp-jplayer 
{
    width:0px;
    height:0px;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
	/*background: url("pbar-ani.gif");*/
}