<% #@itunes_song_data %>

<h1>Dashboard</h1>

<% #@itunes_song_data.each do |k, v| %>
    <%  #v['Name'] %>
<% #end %>

<% if @database_input_errors %>
    <% @database_input_errors.each do |error| %>
      <%= error %>
    <% end %>
<% end %>

<%= link_to 'Dump and Update Song Database', songs_flush_path, method: :post %>