<% content_for :ajax_view do %>
    <div id="now_playing_view">
        <div id="music_list_container">
            <%= render :partial => "songs/list_music", :locals => { :title => 'Now Playing'} %>
        </div>
    </div>
<% end %>