<% content_for :ajax_view do %>
    <div id="search_view">
        <div id="search_list_container">
            <%= render :partial => "songs/list_music", :locals => { :title => 'Search Results'} %>
        </div>
    </div>
<% end %>