p, ol, ul, td {
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

div {
  &.field, &.actions {
    margin-bottom: 10px; }
    }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }


/*~~ Nav ~~*/

.song_title, .song_artist, .song_album, .song_location{
    cursor:pointer;
}

#big_menu li a{
    font-size:42pt;
    font-weight:bold;
}

ul{
    padding-left:0px;
}

a {
  color: #000;
  &:visited {
    color: #000; }
  &:hover {

    }
}

#nav_songs, #nav_songs a {
     color: #7B49A3;
     &:visited {
       color: #7B49A3; }
     &:hover {
       color: white;
       background-color: #7B49A3;
     }
}

#nav_playlist, #nav_playlist a {
     color: #33B1FF;
     &:visited {
       color: #33B1FF; }
     &:hover {
       color: white;
       background-color: #33B1FF;
     }
}

#nav_now_playing, #nav_now_playing a {
     color: #FF0F0F;
     &:visited {
       color: #FF0F0F; }
     &:hover {
       color: white;
       background-color: #FF0F0F;
     }
}

#big_menu a {
    text-decoration:none!important;
}

#big_menu{
    padding-top:3px;
}

#registration_nav{
    text-align:right;
}