<div id="music_player_controls">
  <div id="controls_left">
    <ul class="controls">
      <span id="core_controls_wrapper">
          <li id="prev" class="pointer bw_hover">Previous</li>
          <li id="next" class="pointer bw_hover">Next</li>
          <li id="pause" class="pointer bw_hover">Pause</li>
      </span>
      <div class="clearfix"></div>
      <li>
        <div class="float_left volume_icon">-</div>
            <div id="volume_slider_wrapper"><div id="volume_slider"></div></div>
        <div class="float_left volume_icon">+</div>
      </li>
    </ul>
    <%= render 'layouts/search' %>
  </div>
  <div id="controls_center">
    <div id="now_playing_info">
      <div class="title_type">CARNIVOROUS</div>
      Music Player
      <div class="bold" id="now_playing_title"></div>
      <div id="now_playing_artist_album"></div>
    </div>
    <div class="hidden" id="seek_slider"></div>
  </div>
  <div id="controls_right">
    <ul class="controls">
      <li id="shuffle" class="pointer bw_hover float_right">Shuffle</li>
       <li id="undo" class="pointer bw_hover float_right">Undo</li>
       <li id="redo" class="pointer bw_hover float_right">Redo</li>
    </ul>
  </div>
</div>

<div class="clearfix"></div>