<ul>
  <li id="prev" class="pointer">Previous</li>
  <li id="next" class="pointer">Next</li>
  <li id="pause" class="pointer">Pause</li>
  <li id="test" class="pointer">Test</li>
</ul>
<div id="shuffle" class="pointer">Shuffle</div>
<div id="seekbar" class="pointer" id="seek_bar"></div>
<ul>
  <li id="undo" class="pointer">Undo</li>
  <li id="redo" class="pointer">Redo</li>
</ul>
