<ul>
  <li id="prev" style="cursor:pointer;">Previous</li>
  <li id="next" style="cursor:pointer;">Next</li>
  <li id="pause" style="cursor:pointer;">Pause</li>
  <li id="test" style="cursor:pointer;">Test</li>
</ul>
<div id="shuffle" style="cursor:pointer;">Shuffle</div>
<ul>
  <li id="undo" style="cursor:pointer;">Undo</li>
  <li id="redo" style="cursor:pointer;">Redo</li>
</ul>